@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&display=swap');

body{
  font-family: 'IBM Plex Sans', sans-serif;
}

svg{
  background-color: #ebe9e9;
  padding: 10px;
}
svg text{
  font-size: 12px;
  text-transform: capitalize;
}
.tip-div{
  background-color: antiquewhite;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: capitalize;
}
.graph-title{
  font-size: 20px;
}

.svg-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.program-container{
  width: 90%;
  padding-bottom: 90%;  /* aspect ratio */
}
.raceEthnicity-container{
  width: 90%;
  padding-bottom: 55%;  /* aspect ratio */
}
.demographics-container{
  width: 90%;
  padding-bottom: 50%;  /* aspect ratio */
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.button-div{
  display: flex;
  justify-content: center;
}
button{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .1px;
  text-transform: lowercase;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #1f5ca5;
  color: #fff;
  margin: 10px;
  padding: 8px;
  border-radius: 12px;
}
button:hover{
  color: #1f5ca5;
  background-color: #fff;
}