svg{
  background-color: #ebe9e9;
  padding: 10px;
}
svg text{
  font-size: 12px;
  text-transform: capitalize;
}
.tip-div{
  background-color: antiquewhite;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: capitalize;
}
/* .program-canvas svg g .legendCells{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
